.navbar {}

.container-fluid img {
    width: auto;
    height: 70px;
    border-style: solid;
    padding: 5px;
    border-color: gray;
}

.container-fluid img:hover {
    border-color: black;
}

.container-fluid {
    font-size: 26px;
    font-family: sans-serif;
}