.navbar {
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: darkgray;
}

.container-fluid img {
    width: auto;
    height: 70px;
    border-style: none;
    padding: 0px;
    border-color: gray;
}

.container-fluid img:hover {
    border-color: black;
}

.container-fluid {
    font-size: 15;
    font-family: sans-serif;
}

.nav-link {
    font-size: 18px;
}

.nav-flex-container {
    display: flex;
}

.projects-text {
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: groove;
    border-right-style: none;
}

.resume-text {
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: groove;
    border-right-style: none;
}

.construction-text {
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: groove;
    border-right-style: none;
}