body {
    font-size: 26px;
    background: slategrey;
}

.profilePic {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 50%;
    margin: auto;
}

.imageBorder {
    width: 20vh;
    height: 20vh;
    margin: auto;
    align-self: center;
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(61, 61, 58);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    background-image: url(/images/headshot.png);
    background-size: 80%;
}

.name {
    font-size: 5rem;
    letter-spacing: 1rem;
    font-weight: bolder;
}

.descPara {
    background: white;
}

@media screen and (max-width:666px) {
    .name {
        text-align: center;
        font-size: 2em;
    }
}

@media screen and (max-width:449) {
    .name {
        font-size: .5rem;
    }
}