html {
    height: 100%;
    /* max-height: 100%; */
    margin-bottom: 0;
}

body {
    font-size: 26px;
    background: slategrey;
    width: 80%;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-left-style: groove;
    border-right-style: groove;
    max-height: 100%;
}

.profilePic {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 50%;
    margin: auto;
}

.imageBorder {
    width: 40vh;
    height: 40vh;
    margin-left: 10vw;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
    border-radius: 50%;
    background-color: rgb(61, 61, 58);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    background-image: url(/images/Bouchsloth.png);
    background-size: 100%;
}

.name {
    font-size: 5rem;
    letter-spacing: 1rem;
    font-weight: bolder;
}

.descPara-cont {
    background-color: white;
    min-width: 80%;
    max-height: 100%;
    font-size: xx-large;
}

.descPara p {
    margin-top: auto;
    margin-bottom: 0px;
    min-height: 100%;
}

@media screen and (max-width: 1280px) {
    .imageBorder {
        margin-left: 15vw;
    }
}

@media screen and (max-width: 768px) {
    .imageBorder {
        margin-left: 0;
    }
}

@media screen and (max-width:666px) {
    .name {
        text-align: center;
        font-size: 2em;
        letter-spacing: 0.2rem;
    }
    .descPara {
        position: absolute;
    }
}

@media screen and (max-width:375px) {
    .name {
        letter-spacing: 0.2rem;
    }
    .imageBorder {
        margin-left: -18vw;
    }
    .descPara {
        position: absolute;
    }
}