body {
    font-size: 26px;
    background: slategrey;
}

.profilePic {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 50%;
    margin: auto;
}

.imageBorder {
    width: 40vh;
    height: 40vh;
    margin: auto;
    align-self: center;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
    border-radius: 50%;
    background-color: rgb(61, 61, 58);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    background-image: url(/images/Bouchsloth.png);
    background-size: 100%;
}

.name {
    font-size: 5rem;
    letter-spacing: 1rem;
    font-weight: bolder;
}

.descPara {
    background: white;
    max-width: 100vw;
}

@media screen and (max-width:666px) {
    .name {
        text-align: center;
        font-size: 2em;
        letter-spacing: 0.2rem;
    }
    .imageBorder {
        margin-left: -8vw;
    }
    .descPara {
        position: absolute;
    }
}

@media screen and (max-width:449) {
    .name {
        font-size: .5rem;
        letter-spacing: 0.2rem;
    }
    .imageBorder {
        margin-left: -15vw;
    }
    .descPara {
        position: absolute;
    }
}

@media screen and (max-width:375) {
    .name {
        font-size: .5rem;
        letter-spacing: 0.2rem;
    }
    .imageBorder {
        display: none;
        width: 10vh;
        height: 10vh;
        margin: -1vw;
        border-style: solid;
        border-width: 5px;
        border-color: rgb(0, 0, 0);
        border-radius: 50%;
        background-color: rgb(61, 61, 58);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: local;
        background-image: url(/images/Bouchsloth.png);
        background-size: 100%;
        background-size: 50%;
    }
    .descPara {
        position: absolute;
    }
}