html {
    font-family: Arial;
  }
  
  body {
    background-color: gray;
  }
  
  #header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    
  }  
  
  .parent {
    display: flex; 
    width: 50%;
    align-items: center;
    justify-content: center;
    background-color: #111;
    position: fixed;
  }  
  
  #header-img{
    height: 35px;
    width: 35px;
    padding-top: 10px
      
  }
  
  #header-text {
    padding-top: 10px;
    padding-left: 0px;
    width: 80%;
  }
  
  .nav-link ol {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-right: 25px;
    position: sticky;
  }
  
  .nav-link li {
    border-style: solid;
    background-color: #420;
    width: 80px;
    text-align: center;
  }
  
  .nav-link a {
    text-decoration: none;
    width: 500px;
    color: purple;
    }
  
  .nav-link li:link {
    background-color: slategrey;
    color: black;
  }
  

  h1 {
    padding-top: 1%;
    text-align: center;
    padding-bottom: .5rem;
    border: 0px;
    border-bottom: 2px;
    border-style: solid;
  }
  
  #form {
    align-items: center;
    justify-content: center;
      display: flex;
    flex-direction: row;
    padding: 10px;
  }
  
  #submit {
    padding-left: 10px;
  }
  
  .submit-padding {
    padding-left: 2%;
    
  }
  
  #filler-wrapper {
    display: flex;
    justify-content: center;
    align-content: end;
  }
  
  #filler-paragraphs {
    text-align: center;
    background-color: #420;
    width: 50%;
  }
  
  .videos {
    text-align: center;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 3em;
  }
  
  #video {
    width: 80%;
  }
  
  footer {
    padding: 1rem;
    background-color: #111;
    color: #ddd;
    font-size: .75rem;
    text-align: center;
    width: 50%;
    
  }
  
  #footer-box {
    display: flex;
    
    justify-content: center;
    align-content: end;
  }
  
  