.selector-for-some-widget {
    box-sizing: content-box;
}

html {
    font-size: 2rem;
    font-family: monospace;
    font-weight: bold;
}

body {
    background-color: #655A7C;
    text-align: center;
}

h1 {
    text-align: center;
    color: #E1D8E8;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.5rem;
}

#toph {
    color: #E1D8E8;
    text-decoration: none;
}

#jenn {
    color: #E1D8E8;
    text-decoration: none;
}

#col1 {
    background-color: #09493E;
    /* min-height: 200%;
    max-height: 150%;
    min-width: 100%;
    max-width: 100%; */
    padding-top: 30px;
    padding-bottom: 30px;
    border-style: solid;
}

#col2 {
    background-color: #660000;
    /* min-height: 200%;
    min-width: 50%;
    max-width: 100%; */
    padding-top: 30px;
    padding-bottom: 30px;
    border-style: solid;
}

#col2:hover {
    background-color: #E1D8E8;
    border-color: #660000;
    color: #660000;
}

#col1:hover {
    background-color: #E1D8E8;
    border-color: #09493E;
    color: #09493E;
}