body {
    background-color: white;
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
    font-family: Arial;
  }
  
  header {
   font-size: 1rem; 
   font-weight: bold;
  }
  
  #navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid; */
    border-right-color: currentcolor;
    border-color: rgba(0, 22, 22, 0.4);
  }
  
  #navbar header {
    padding: 5%;
    font-size: 1.5rem;
    text-decoration: none;
    border-color: black;
    border-bottom: 3px;
    margin: 10px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
  }
  
  #navbar ul{
    height: 88%;  
    padding: 0;
  }
  #navbar li {
    border-color: black;
    border-bottom: 1px;
    margin: 10px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
    padding-bottom: .75rem;
  }
  #navbar a:link {
    color: black;
    text-decoration: none;
    
  }
  
  #navbar a:visited {
    color: black;
  }
  
  #disclaimer {
    align-items: center;
    width: 75em;
    font-weight: bold;
    background-color: #fbab81;
    border-radius: 5px;
    padding: 5px;
  }
  
  #diapers {
    border-color: black;
    border-bottom: 1px;
    margin: 10px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
  }
  #wipes {
    border-color: black;
    border-bottom: 1px;
    margin: 10px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
  }
  #formula {
    border-color: black;
    border-bottom: 1px;
    margin: 10px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
  }
  #toys {
    border-color: black;
    border-bottom: 1px;
    margin: 10px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
  }
  #snacks {
    border-color: black;
    border-bottom: 1px;
    margin: 10px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
  }
  
  .main-section header {
    font-size: 1.5rem;
  }
  
  code {
    background-color: #e6e6fa;
    padding: 5px;
    border-radius: 5px;
    margin: 2em;
  }
  
  #blurred {
    filter: blur(1.5px);
  }
  
  @media only screen and (max-width: 815px) {
    /* For mobile phones: */
    #navbar ul {
      border: 1px solid;
      height: 207px;
    }