main {
  margin-left: 1vw;
  margin: auto;
}

.jobDiv {
  padding-top: 1.75vh;
  padding-bottom: 1.75vh;
  height: 5vh;
}

.icon {
  width: 25px;
  height: 25px;
  border-style: solid;
  border-width: 1px;
  margin: 10px;
}

.tankIcon {
  background-color: blue;
}

.healIcon {
  background-color: green;
}

.dpsIcon {
  background-color: red;
}
.input-group {
  max-height: 25px;
}
