@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.divimg {
  background: url("images/pexels-cottonbro-4709822.jpg"),
    url("images/pexels-pixabay-164936.jpg");
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: left, right;
}
