

#bg_image {
    background-image:url("https://media.gettyimages.com/photos/futuristic-digital-render-in-cyber-landscape-with-big-low-sun-style-picture-id1270015925?s=2048x2048");
    background-position:center;
    background-size: auto;
    margin:-3rem;
    padding-bottom: 5rem;
    min-height:90vmin
  } 
  
  h1 {
    padding-top: 3rem;
    font-size: 3rem;
  }
  
  #description {
    padding-bottom: 3rem;
  }
  
  #container {
    text-align: center;
    font-family: monospace;
    color:lightblue;
    text-shadow: -1px 2px 0 #000;
    font-size: 1rem;
    
  }
  
  #survey-form {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color: #ff29ff;
    border-radius: 25px;
    text-align: center;
    padding-top: 1%;
    position: relative;
    border-style: solid;
    border-color: skyblue;
    text-align: left;
    padding-bottom: 1%;
  }
  
  #form-formatting {
    display:flex;
    justify-content: flex-start;
    align-items: left;
    flex-wrap:wrap;
    flex-direction: column;
    padding-bottom: 10%;
    padding-left: 25%;
    padding-right: 25%;
  }
  
  #submit {
    background-color: black;
    color: skyblue;
    width: 20%;
    height: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 42.5%;
    margin-right: 42.5%;
  }
  
  .formItem {
    padding: 10px;
  }
  
  #comments {
    padding: 10px;
    display: flex;
  }
  
  textarea {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  #comment-comment {
    padding: 100px;
  }